<div class="container">
    <div [hidden]="submitted">
      <h1>Login</h1>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 required
                 [(ngModel)]="user.name" name="name"
                 #name="ngModel">
          <div [hidden]="name.valid || name.pristine"
              class="alert alert-danger">
          Name is required
          </div>
        </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
               required
               [(ngModel)]="user.email" name="email"
               #email="ngModel">
        <div [hidden]="email.valid || email.pristine"
            class="alert alert-danger">
        Email is required
        </div>
      </div>

      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" class="form-control" id="phoneNumber"
               required
               [(ngModel)]="user.phoneNumber" name="phoneNumber"
               #phoneNumber="ngModel">
        <div [hidden]="phoneNumber.valid || phoneNumber.pristine"
            class="alert alert-danger">
        Phone Number is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!userForm.form.valid">Login</button>
      <button type="button" class="btn btn-default" (click)="newUser(); userForm.reset()">New User</button>

    </form>
  </div>

    <div [hidden]="!submitted">
      <h2>You submitted the following:</h2>
      <div class="row">
        <div class="col-xs-3">Name</div>
        <div class="col-xs-9  pull-left">{{ user.name }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Email</div>
        <div class="col-xs-9 pull-left">{{ user.email }}</div>
      </div>
      <div class="row">
        <div class="col-xs-3">Phone Number</div>
        <div class="col-xs-9 pull-left">{{ user.phoneNumber }}</div>
      </div>
      <br>
      <button class="btn btn-primary" (click)="submitted=false">Edit</button>
    </div>
  </div>
